.root{
    -fx-background-color: #111111;
}

.label{
    -fx-font-size: 10;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "white";
    -fx-alignment: center;
}

#titleLabel{
    -fx-font-size: 30;
}